<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>TypeScript HTML App</title>
    <link rel="stylesheet" href="../../css/bootstrap.min.css">
    <link rel="stylesheet" href="../../css/style.css">
    <script type="text/javascript" src="../../../dist/libs/jQuery.min.js"></script>
    <script type="text/javascript" src="../../../dist/libs/bootstrap.min.js"></script>
    <script type="text/javascript" src="../../../dist/views/datelocal/datelocal.js"></script>
</head>

<body>
    <div id="error"></div>
    <div id="result">
        <ul id="myList">
        </ul>
        <button class="li-button" onclick="dateLocal.dateLocal()">Try it</button>
    </div>
</body>

</html>