<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>TypeScript HTML App</title>
    <link rel="stylesheet" href="../../css/bootstrap.min.css">
    <link rel="stylesheet" href="../../css/style.css">
    <script type="text/javascript" src="../../../dist/libs/jQuery.min.js"></script>
    <script type="text/javascript" src="../../../dist/libs/bootstrap.min.js"></script>
    <script type="text/javascript" src="../../../dist/views/datelocal/datelocal.js"></script>
</head>

<body>
    <div class="filter-block">
        <div id="filter">
            <h3 class="type">USERS</h3>
            <input type="text" id="emailUser" onkeyup="dateLocal.functionFilter()" placeholder="Users">
            <button class="li-button" onclick="dateLocal.sortData()">Users</button>
            <button class="li-button" onclick="dateLocal.sortData()">Sort</button>
            <ul id="myList"></ul>
        </div>
    </div>
</body>

</html>