<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>TypeScript HTML App</title>
    <script type="text/javascript" src="../../../dist/views/index/index.js"></script>
</head>

<body>

    <input type="text" id="emailInput" required="" placeholder="Email">
    <input type="password" id="passwordInput" required="" placeholder="Password">
    <label></label><input type="radio" name="fames" id="man" value="man">M</label>
    <label></label><input type="radio" name="fames" id="women" value="women">W</label>
    <a type="button" onclick="indexComponent.register()">Register</a>


</body>

</html>