<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>TypeScript HTML App</title>
    <script type="text/javascript" src="../../../dist/views/index/index.js"></script>
    <script type="text/javascript" src="../../../dist/views/login/login.js"></script>
</head>

<body>

    <input type="text" id="emailInput" required="" placeholder="Email">
    <input type="password" id="passwordInput" required="" placeholder="Password">
    <a type="button" onclick="loginComponent.login()" href="#">Login</a>


</body>

</html>